p, ul, li, h1, h2, h3 {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

textarea,
input[type="text"],
input[type="submit"]{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border-radius: 0;
}

textarea {
    resize: none;
}

img {
    max-width: 100%;
    display: block;
}

.wrapper {
    margin: 0 auto;
    width: 80%;
    max-width: 1280px;
}

.flexParent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.flexColumn {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.flexWrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}


