
.userOutput {
    width: 80%;
}
.editable {
    display:inline;
    word-wrap: break-word;
    text-align: center;
    option {
        text-align: center;
    }
}
.minMax {
    border-radius: 50%;
    padding: 10px;
    font-size: 4rem;
    i {
        transition: all 0.3s;
    }
}
.maximize {
    transform: rotatez(180deg);
}