$bgColour: #1e3d58;
$sectionBG: #fefefe;
$accent: #F0816A;
$normalButton: #26304A;
$secondaryBlue: #A0C9F3;
$accentBlue: #3C91E6;

$buttonOutline: #c40021;
$buttonSide: #FE4A49;
$buttonBG: #ff8075;
$buttonShadow: #be9aa09f;

$normalFont: white;
$activeButton: #F59C8A;

$activeFont: black;

